/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo cinza claro */
}

/* Estilo do cabeçalho */
header {
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

/* Estilo da seção */
section {
    max-width: 1200px;
    margin: auto;
}

/* Estilo do input de arquivo */
input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Cinza claro */
    border-radius: 4px;
}

/* Estilo do container de pedidos */
.container-pedidos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Estilo dos botões de pedidos */
.pedido-btn {
    background-color: #333; /* Cinza escuro */
    color: #fff; /* Branco */
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.pedido-btn:hover {
    background-color: #000; /* Preto */
    transform: scale(1.05);
}

/* Estilo do popup */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff; /* Branco */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Cinza escuro */
}

.popup-close:hover {
    color: #000; /* Preto */
}

/* Estilo para checklists e botões */
form div {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #333; /* Cinza escuro */
    color: #fff; /* Branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #000; /* Preto */
}

/* Estilo para os containers de modelos */
.modelo-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.modelo-container input[type="checkbox"] {
    margin-right: 10px;
}

.modelo-container label {
    flex-grow: 1;
    font-size: 14px;
}

/* Estilo para riscar texto */
.riscado {
    text-decoration: line-through;
    color: #999; /* Cinza claro para o texto riscado */
}

/* Estilo para o botão quando o pedido é salvo */
.pedido-salvo {
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto branco */
}